.login-container{
    width:400px;
    margin: auto;
    margin-top: 200px;
    .login-form-container{
        
    }
    .submit-button{
        margin: auto;
        text-align: center;
        .forgot-password{
         margin-left: 10px;
        }
    }
    .cursor-pointer{
      cursor: pointer;
    }
         

}